.itemcontainer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #000000;
    color: #018d2b;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}
